<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- SEO Meta Tags -->
        <meta name="description" content="Your description">
        <meta name="author" content="Your name">

        <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
        <meta property="og:site_name" content="" /> <!-- website name -->
        <meta property="og:site" content="" /> <!-- website link -->
        <meta property="og:title" content=""/> <!-- title shown in the actual shared post -->
        <meta property="og:description" content="" /> <!-- description shown in the actual shared post -->
        <meta property="og:image" content="" /> <!-- image link, make sure it's jpg -->
        <meta property="og:url" content="" /> <!-- where do you want your post to link to -->
        <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

        <!-- Webpage Title -->
        <title>Banking BoT</title>

        <!-- Styles -->
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap" rel="stylesheet" >
        <link href="/static/css/bootstrap.min.css" rel="stylesheet">
        <link href="/static/css/fontawesome-all.min.css" rel="stylesheet" >
        <link href="/static/css/aos.min.css" rel="stylesheet" >
        <link href="/static/css/swiper.css" rel="stylesheet" >
        <link href="/static/css/style.css" rel="stylesheet" >

        <!-- Favicon -->
        <link rel="icon" href="/static/assets/images/favicon.png">
    </head>
    <body>
        
        <!-- Navigation -->
        <nav id="navbar" class="navbar navbar-expand-lg fixed-top navbar-dark" aria-label="Main navigation">
            <div class="container">

                <!-- Image Logo -->
                <!-- <a class="navbar-brand logo-image" href="index.html"><img src="images/logo.svg" alt="alternative"></a> -->

                <!-- Text Logo - Use this if you don't have a graphic logo -->
                <a class="navbar-brand logo-text" href="http://127.0.0.1:5000/bot" style="padding-left: 43%">BANKING BOT</a>

                <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
                </div> <!-- end of navbar-collapse -->
            </div> <!-- end of container -->
        </nav> <!-- end of navbar -->
        <!-- end of navigation -->

        

        <!-- About -->
        <section class="about d-flex align-items-center text-light py-5" id="about">
            <div class="container" >
                <div class="row d-flex align-items-center">
                    <div class="col-lg-7" data-aos="fade-right">
                        <h1>Click The Banking Bot AND<br> You Get The Banking Live Chat</h1>
                        <p class="py-2 para-light">Chatbots can be integrated with messaging platforms, websites, mobile apps, and other digital channels to provide customer service, support, information, and entertainment.</p>
                        <p class="py-2 para-light">Chatbots can be programmed to perform a wide range of tasks, such as answering frequently asked questions, making recommendations, scheduling appointments, providing product information, and processing orders.</p>

                        <div class="my-3">
                            <a class="btn" href="https://en.wikipedia.org/wiki/Chatbot">Learn More</a>
                        </div>
                    </div>
                    <div class="col-lg-5 text-center py-4 py-sm-0" data-aos="fade-down"> 
                        <img class="img-fluid" src="/static/assets/images/image.png" alt="about" >
                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </section> <!-- end of about -->


        <!-- Services -->
        <section class="services d-flex align-items-center py-5" id="services">
            <div class="container text-light">
                <div class="text-center pb-4" >
                    <p>ChatBOT</p>
                    <h2 class="py-2">Types Of ChatBot</h2>
                    <p class="para-light">There are different types of chatbots, and they can be classified based on various criteria such as functionality, technology, and design. </p>
                </div>
                <div class="row gy-4 py-2" data-aos="zoom-in">
                    <div class="col-lg-4">
                        <div class="card bg-transparent">
                            <i class="fas fa-table fa-2x"></i>
                            <h4 class="py-2">AI-powered chatbots</h4>
                            <p class="para-light">These chatbots use machine learning algorithms to learn from past interactions and improve their responses over time. They can understand and interpret natural language input and provide more personalized and accurate responses.</p>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-transparent">
                            <i class="fas fa-satellite fa-2x"></i>
                            <h4 class="py-2"> Rule-based chatbots</h4>
                            <p class="para-light">These chatbots are programmed to follow a set of predefined rules and provide predefined responses based on specific keywords or phrases. They are typically less complex and less expensive to develop but are limited in their ability to handle complex queries.</p>
                        </div>                    
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-transparent">
                            <i class="fas fa-sticky-note fa-2x"></i>
                            <h4 class="py-2">Social media chatbots</h4>
                            <p class="para-light">These chatbots are integrated with social media platforms such as Facebook, Twitter, and Instagram, and allow users to interact with businesses and brands through messaging.</p>
                        </div>                    
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-transparent">
                            <i class="fas fa-mobile fa-2x"></i>
                            <h4 class="py-2">Conversational chatbots</h4>
                            <p class="para-light"> These chatbots are designed to simulate human conversation and engage users in a natural and interactive way. They use a combination of NLP, AI, and machine learning to understand user intent, provide relevant information, and respond in a conversational tone.</p>
                        </div>                    
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-transparent">
                            <i class="fas fa-home fa-2x"></i>
                            <h4 class="py-2">Task-oriented chatbots</h4>
                            <p class="para-light">These chatbots are designed to perform specific tasks such as booking a flight, ordering food, or scheduling an appointment. They use a conversational interface to guide the user through the task and provide relevant information.</p>
                        </div>                    
                    </div>
                    <div class="col-lg-4">
                        <div class="card bg-transparent">
                            <i class="fas fa-phone fa-2x"></i>
                            <h4 class="py-2">Voice chatbots</h4>
                            <p class="para-light"> These chatbots use voice recognition technology to enable users to interact with them through voice commands. They are commonly used in voice assistants such as Amazon Alexa, Google Assistant, and Apple Siri.</p>
                        </div>                    
                    </div>
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </section> <!-- end of services -->

        <!-- Footer -->
        <section class="footer text-light">
            <div class="container">
                <div class="row" data-aos="fade-right">
                    <div class="col-lg-3 py-4 py-md-5">
                        <div class="d-flex align-items-center">
                            <h4 class="">ThanK YOU!!!</h4>
                        </div>
                        <p class="py-3 para-light">Chatbots are becoming increasingly popular in various industries, including e-commerce, finance, healthcare, and customer service, and they are expected to play a significant role in the future of customer interactions.</p>
                    </div> <!-- end of col -->




                    <div class="col-lg-3 py-4 py-md-5">
                        <div class="d-flex align-items-center">
                            <h4>Chatbot Services</h4>
                        </div>
                        <p class="py-3 para-light">Chatbots are becoming increasingly popular as they can provide 24/7 assistance, reduce wait times, and improve customer experiences.</p>
                    </div> <!-- end of col -->
                </div> <!-- end of row -->
            </div> <!-- end of container -->
        </section> <!-- end of footer -->




        
        <!-- Back To Top Button -->
        <button onclick="topFunction()" id="myBtn">
            <img src="/static/assets/images/up-arrow.png" alt="alternative">
        </button>
        <!-- end of back to top button -->

        
        <!-- Scripts -->
        <script src="/static/js/bootstrap.min.js"></script><!-- Bootstrap framework -->
        <script src="/static/js/purecounter.min.js"></script> <!-- Purecounter counter for statistics numbers -->
        <script src="/static/js/swiper.min.js"></script><!-- Swiper for image and text sliders -->
        <script src="/static/js/aos.js"></script><!-- AOS on Animation Scroll -->
        <script src="/static/js/script.js"></script>  <!-- Custom scripts -->
    </body>
</html>